*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #eee;
}

header{
    height:180px;
    display: flex;
    justify-content:center;
    align-items:center;
}

header h1{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 3rem;
    font-weight: 900;
    color: 	#4F4F4F;
}

.galeria-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 2vw;
    padding: 0 10vw;

}

.galeria-items{
    width: 340px;
    height: 340px;
    border: 10px solid white;
    box-shadow: 5px 5px 5px #0006;
    flex-grow: 1;
    transition: transform .5s linear;
}

.galeria-items img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.galeria-items:hover{
    transform: scale(1.1);
}

footer{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items:center;
    color: #000;
}

@media only screen and (max-width:768px){
    header{
        height:35px;
        margin: 1px;
        display:flex;
        justify-content:center;
        align-items:center; 
    }

    /* header h1{
        font-size: 35px;
    } */

    .galeria-container{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        gap: 3vw;
        padding: 0 3vw;
    
    }

    .galeria-items{
        width: 350px;
        height: 350px;
        border: 6px solid white;
        box-shadow: 5px 5px 5px #0006;
        flex-grow: 1;
        transition:transform .1s linear;
    }
    
    .galeria-items:hover{
        transform:scale(1.1);
        -ms-transform:scale(1.1); /* IE 9 */
        -webkit-transform:scale(1.1); /* Safari 3-8 */
    }
}